@model EmployeDataModels.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>
        <h3>Adresses</h3>
        <ul>
            @foreach (var ea in Model.Adresses)
            {
                <li>
                    <dl>
                        <dt>@Html.DisplayNameFor(model => ea.Country)</dt>
                        <dd>@Html.DisplayFor(model => ea.Country)</dd>
                    </dl>
                    <dl>
                        <dt>@Html.DisplayNameFor(model => ea.Address.City)</dt>
                        <dd>@Html.DisplayFor(model => ea.Address.City)</dd>
                    </dl>
                    <dl>
                        <dt>@Html.DisplayNameFor(model => ea.Address.Street)</dt>
                        <dd>@Html.DisplayFor(model => ea.Address.Street)</dd>
                    </dl>
                    <dl>
                        <dt>@Html.DisplayNameFor(model => ea.Address.HouseNumber)</dt>
                        <dd>@Html.DisplayFor(model => ea.Address.HouseNumber)</dd>
                    </dl>
                    <dl>
                        <dt>@Html.DisplayNameFor(model => ea.Address.PostCode)</dt>
                        <dd>@Html.DisplayFor(model => ea.Address.PostCode)</dd>
                    </dl>
                    <dl>
                        <dt>@Html.DisplayNameFor(model => ea.Residence)</dt>
                        <dd>@Html.DisplayFor(model => ea.Residence)</dd>
                    </dl>
                </li>
            }
        </ul>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BSN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
