@model rdbm.ProjectManagment
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProjectID)

    for (int i = 0; i < Model.Data.Count; i++)
    {
        <div class="form-group">
            @Html.HiddenFor(model => model.Data[i].Employee.BSN)
            @Html.HiddenFor(model => model.Data[i].Position.PositionName)
            @Html.LabelFor(model => model.Data[i].Assignd, $"{Model.Data[i].Employee.Name} {Model.Data[i].Employee.SurName} - {Model.Data[i].Position.PositionName}")
            @Html.EditorFor(model => model.Data[i].Assignd)
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

